.flex-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
body {
  background-image: url(/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.flex-container > div {
  background: rgba(204, 204, 204, 0.5);
  margin: 20px;
  padding: 20px;
  font-size: 30px;
}
img {
  margin-top: 20px;
  width: 300px;
  height: 150px;
} 
* {
  margin: 0%;
}
.des {
  padding: 3px;
  text-align: justify;

  padding-top: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
p {
  width: 150px;
  font-size: large;
  font-family: sans-serif;
}
button {
  background-color: red;
  border: rgb(22, 22, 22);
  border-radius: 35%;
  margin-top: 40px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
}
.para{
  text-align: center;
  
}